body {
	    background-image: url("IMG_8745.jpg");
	    background-position: 50% 50%;
	    background-repeat: repeat;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: 5px 2px #76FF04;
    font-size: 500%;
}

p {
    font-family: verdana;
    font-size: 20px;
}

audio { 
   display:none;
}

.twitter-timeline {
	text-align: center;
}
